<header>
	<nav>
		<div class="nav-wrapper container">
		  <a href="/" class="brand-logo truncate">NYC Food Safety</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>		  
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/">Home</a></li>
		    <li><a href="/search">Search</a></li>
		    <li><a href="/report-violations">Report Violations</a></li>
		  </ul>

		<ul class="side-nav" id="mobile-demo">
			<li>
				<div class="user-view">
					<div class="background red lighten-2">
					</div>
					<!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
					<a href="/"><span class="white-text name">NYC Food Safety</span></a>
					<span class="white-text">Find restaurant inspection records</span>
				</div>
			</li>
		    <li><a href="/"><i class="material-icons">home</i>Home</a></li>
		    <li><a href="/search"><i class="material-icons">search</i>Search</a></li>
		    <li><a href="/report-violations"><i class="material-icons">report_problem</i>Report Violations</a></li>
		</ul>		  
		</div>
	</nav>
</header>