<header>
	<nav>
		<div class="nav-wrapper container">
		  <a href="./" class="brand-logo">NYC Restaurant Inspections</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>		  
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/">Home</a></li>
		    <li><a href="/search">Search</a></li>
		  </ul>

		<ul class="side-nav" id="mobile-demo">
		    <li><a href="./">Home</a></li>
		    <li><a href="./search">Search</a></li>
		</ul>		  
		</div>
	</nav>

    <h1 style="text-align: center;">{{pageTitle}}</h1>
</header>