<div class="row">
<form class="col s12 card" action="/search" method="POST" style="padding-top: 20px;">
	<h5 class="center">Find a restaurant</h5>
	<div class="row">
		<div class="input-field col s12 m8">
			<i class="material-icons prefix">restaurant</i>
			<label for="dba">Restaurant Name</label>
			<input type="text" name="dba">
		</div>
		<div class="input-field col s12 m4">
			<i class="material-icons prefix">location_city</i>
			<select id="boro" name="boro">
				<option value="" disabled selected>None</option>
				<option value="BRONX">Bronx</option>
				<option value="BROOKLYN">Brooklyn</option>
				<option value="MANHATTAN">Manhattan</option>
				<option value="QUEENS">Queens</option>
				<option value="STATEN ISLAND">Staten Island</option>
			</select>
			<label>Borough</label>
		</div>		
	</div>

	<div class="row center">
		<button class="btn-large waves-effect waves-light center-align" type="submit">Search
			<i class="material-icons right">search</i>
		</button>
	</div>
</form>
</div>