<form action="/search" method="POST">
	<fieldset>
		<label for="name">Business Name</label>
		<input disabled type="text" name="street" placeholder="Business name">
	</fieldset>

	<fieldset>
		<label for="zipcode">Zipcode</label>
		<input type="text" name="zipcode" placeholder="zipcode">
		
		<label for="street">Street</label>
		<input disabled type="text" name="street" placeholder="street address">

		<label for="city">City</label>
		<input disabled type="text" name="city" placeholder="city">

		<label for="boro">Borough</label>
		<select id="boro" name="boro">
			<option value="" disabled selected>None</option>
			<option value="Bronx">Bronx</option>
			<option value="Brooklyn">Brooklyn</option>
			<option value="Manhattan">Manhattan</option>
			<option value="Queens">Queens</option>
			<option value="Staten Island">Staten Island</option>
		</select>
	</fieldset>

	<fieldset>
		<label for="startDate">Start:</label>
		<input disabled type="date" name="startDate">
		<label for="endDate">End:</label>
		<input disabled type="date" name="endDate">
	</fieldset>

	<input type="submit" value="Search">
</form>