<div class="container">
<div class="row">
    <div class="col s4" style="background-color: rgba(255, 255, 255, 0.95); padding: 20px;">
        <h4 class="teal-text text-lighten-2 hide-on-med-and-down" style="font-weight: bold;">IS YOUR FOOD SAFE?</h4>
        <h5>Find a restaurant's inspection records</h5>
    </div>
</div>
    <div class="row">
        <form class="col s12 card" action="/search" method="POST" style="border:20px solid teal;">
            <div class="row">
                <div class="input-field col s6">
                    {{!-- <i class="material-icons prefix">restaurant</i> --}}
                    <input type="text" name="dba" class="validate" placeholder="Restaurant name"> {{!--
                    <label for="name">Name</label> --}}
                </div>
                <div class="input-field col s3">
                    {{!-- <i class="material-icons prefix">location_city</i> --}}
                    <select name="boro">
                        <option value="Bronx">Bronx</option>
                        <option value="Brooklyn">Brooklyn</option>
                        <option value="Manhattan">Manhattan</option>
                        <option value="Queens">Queens</option>
                        <option value="Staten Island">Staten Island</option>
                    </select>
                </div>
                <div class="input-field col s3">
                    <button class="btn-large waves-effect waves-light" type="submit">SEARCH
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>