<form action="/search" method="POST">
	<label for="zipcode">Zipcode</label>
	<input type="text" name="zipcode" placeholder="zipcode">
	<input type="text" name="borough" placeholder="borough">
<!--     		<label for="borough">Borough</label>
	<select id="borough" name="borough">
		<option value="" disabled selected>None</option>
		<option value="Bronx">Bronx</option>
		<option value="Brooklyn">Brooklyn</option>
		<option value="Manhattan">Manhattan</option>
		<option value="Queens">Queens</option>
		<option value="Staten Island">Staten Island</option>
	</select> -->    		
	<input type="submit" value="Search">
</form>