<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    	{{> header}}
    	<main class="parallax-container" style="padding: 30px;">
    		<div class="parallax">
				<img id="parallaxImg" src="https://res.cloudinary.com/hg7jltnn9/image/upload/f_auto,q_auto/v1562031452/public/assets/img/making-waffles-cutting-them-into-pieces-picjumbo-com-1024x683_tepguq.jpg" alt="Making and cutting waffles. Photo by picjumbo.com.">
    		</div>
    		<div class="section" style="padding: 15px; background-color: rgba(200,200,200,0.5);">
    			
			    <h3 class="center" style="font-weight: bold;">{{pageTitle}}</h3>
	    		<div class="row center">
				    <h5>{{errorMessage}}</h5>    			
	    		</div>
	    		<div class="row center">
	    			<a href="/" class="btn-large waves-effect">GO HOME <i class="material-icons right">home</i></a>
	    		</div>
    		</div>
    	</main>
    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function(){
			let sidenav = M.Sidenav.init(document.querySelectorAll('.sidenav'));
			let parallaxes = M.Parallax.init(document.querySelectorAll('.parallax'));
		});
    </script>
</html>