<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYC Food Safety</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

				<!--  Meta tags for social media sharing -->
				<meta property="og:title" content="NYC Food Safety">
				<meta property="og:description" content="Find a New York City restaurant's health inspection records">
				<meta property="og:image" content="https://nyc-restaurant-inspector.herokuapp.com/public/assets/img/kevin-curtis-3308-unsplash-1024x676.jpg">
				<meta property="og:url" content="http://www.nycfoodsafety.org">
				<meta name="twitter:card" content="summary_large_image">
				
				<meta property="og:site_name" content="NYC Food Safety">
				<meta name="twitter:image:alt" content="Dinner social, conversation and bar. Photo by Kevin Curtis on Unsplash.com.">
    </head>
    <body>

    	{{> header}}

			<div class="parallax-container hide-on-small-only valign-wrapper" style="height: 600px;">
				<div class="parallax">
					<img id="parallaxImg" src="/public/assets/img/michael-browning-14090-unsplash-1024x683.jpg" alt="Men working in kitchen. Photo by Michael Browning on Unsplash.">
				</div>
				{{> searchFormParallax}}
			</div>

    	<div class="blue-grey lighten-5 hide-on-med-and-up">
	    	<main class="container" style="padding: 30px;">
			    <h3 class="teal-text text-lighten-2" style="font-weight: bold;">{{pageTitle}}</h3>
		    	<div class="section">
			    	{{> searchForm}}    	
		    	</div>
	    	</main>
    	</div>

		<div class="container">
		    <div class="section">

		      <!--   Icon Section   -->
		      <div class="row">
		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center teal-text text-lighten-2"><i class="material-icons medium">restaurant_menu</i></h2>
		            <h5 class="center">24,000 restaurants</h5>

		            <p class="light">New York City has about 24,000 restaurants. City health inspectors check them for compliance with food-safety regulations at least once a year. Find out if your favorite restaurant passes muster or not!</p>
		          </div>
		        </div>

		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center teal-text text-lighten-2"><i class="material-icons medium">local_cafe</i></h2>
		            <h5 class="center">Health violations</h5>

		            <p class="light"> Inspectors look for violations such as failure to keep food at a safe temperature; presence of flies and vermin; and improperly sanitized cooking utensils. They can close restaurants that have serious and persistent violations.</p>
		          </div>
		        </div>

		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center teal-text text-lighten-2"><i class="material-icons medium">report_problem</i></h2>
		            <h5 class="center">Report a problem</h5>

		            <p class="light">You can <a href="/report-violations">file complaints online</a> about problems with food safety or food poisoning at restaurants in New York City.</p>
		          </div>
		        </div>
		      </div>

		    </div>
		    <br><br>
		  </div>

    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function() {
		    $('select').material_select();
		    $(".button-collapse").sideNav();
				$('.parallax').parallax();
		  });
	</script>
	<script type="text/javascript" src="/public/assets/javascript/randomImg.js"></script>
</html>