<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYC Food Safety</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>            
    </head>
    <body>

    	{{> header}}

			<div class="parallax-container hide-on-small-only valign-wrapper">
				<div class="parallax">
					<img src="/public/assets/img/michael-browning-14090-unsplash-1024x683.jpg" alt="Men working in kitchen. Photo by Michael Browning on Unsplash." class="black-white">
				</div>
				{{!-- <div class="container">
					<h1 class="red-text text-lighten-2 blue-grey lighten-5 card" style="font-weight: bold; padding:10px;">NYC Food Safety</h1>
				</div> --}}

				<div class="container">
					<div class="row">
						<form class="col s12 card" style="border:20px solid teal;">
							<h3 class="teal-text text-lighten-2" style="font-weight: bold;">Is Your Food Safe?</h3>
							<h5 class="">Find a restaurant's inspection records</h5>
							<div class="row">
								<div class="input-field col s6">
									<i class="material-icons prefix">restaurant</i>
									<input id="name" type="text" class="validate" placeholder="Restaurant name">
									{{!-- <label for="name">Name</label> --}}
								</div>
								<div class="input-field col s3">
									<i class="material-icons prefix">location_city</i>
									<input id="borough" type="text" class="validate" placeholder="borough">
									{{!-- <label for="borough">borough</label> --}}
								</div>
								<div class="input-field col s3">
									<button class="btn-large waves-effect waves-light" type="submit" name="action">SEARCH
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

    	<div class="blue-grey lighten-5 hide-on-med-and-up">
	    	<main class="container" style="padding: 30px;">
			    <h3 class="red-text text-lighten-2" style="font-weight: bold;">{{pageTitle}}</h3>
		    	<div class="section">
			    	{{> searchForm}}    	
		    	</div>
	    	</main>
    	</div>

		<div class="container">
		    <div class="section">

		      <!--   Icon Section   -->
		      <div class="row">
		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center red-text text-lighten-2"><i class="material-icons medium">restaurant_menu</i></h2>
		            <h5 class="center">Is your food safe?</h5>

		            <p class="light">New York City has about 24,000 restaurants. City health inspectors check them for compliance with food-safety regulations at least once a year. Find out if your favorite restaurant passes muster or not!</p>
		          </div>
		        </div>

		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center red-text text-lighten-2"><i class="material-icons medium">local_cafe</i></h2>
		            <h5 class="center">Health violations</h5>

		            <p class="light"> Inspectors look for violations such as failure to keep food at a safe temperature; presence of flies and vermin; and improperly sanitized cooking utensils. They can close restaurants that have serious and persistent violations.</p>
		          </div>
		        </div>

		        <div class="col s12 m4">
		          <div class="icon-block">
		            <h2 class="center red-text text-lighten-2"><i class="material-icons medium">report_problem</i></h2>
		            <h5 class="center">Report a problem</h5>

		            <p class="light">You can <a href="/report-violations">file complaints online</a> about problems with food safety or food poisoning at restaurants in New York City.</p>
		          </div>
		        </div>
		      </div>

		    </div>
		    <br><br>
		  </div>

    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function() {
		    $('select').material_select();
		    $(".button-collapse").sideNav();
				$('.parallax').parallax();
		  });        	
    </script>
</html>