<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYC Restaurant Inspection API</title>
    </head>
    <body>
    	{{> header}}
    	{{> searchForm}}    	
    	{{> searchResults}}
    </body>
</html>