<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Advanced Search</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>         
    </head>
    <body>
    	{{> header}}

    	<div class="blue-grey lighten-5">
	    	<main class="container" style="padding: 35px; margin-bottom: 50px;">
			    <h3 class="teal-text text-lighten-2" style="font-weight: bold;">{{pageTitle}}</h3>
		    	<div class="section">
			    	{{> advancedSearchForm}}
		    	</div>
	    	</main>
    	</div>
    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function(){
			let formSelects = M.FormSelect.init(document.querySelectorAll('select'));
			let sidenav = M.Sidenav.init(document.querySelectorAll('.sidenav'));
			let parallaxes = M.Parallax.init(document.querySelectorAll('.parallax'));
			let links = document.getElementsByClassName('li-search');
			
			for (let i = 0; i < links.length; i++) {
				links[i].classList.add('active');
			}
		});
    </script>
</html>