<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYC Food Safety</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/public/assets/css/main.css">
		<!--Import Google Icon Font-->    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>         
    </head>
    <body>
    	{{> header}}
    	<div class="blue-grey lighten-5">
	    	<main class="container" style="padding: 35px; margin-bottom: 50px;">
			    <h3 class="red-text text-lighten-2" style="font-weight: bold;">{{pageTitle}}</h3>
		    	<div class="section">
			    	{{> advancedSearchForm}}
		    	</div>
	    	</main>
    	</div>
    	{{> footer}}
    </body>

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script>
		 $(document).ready(function() {
		    $('select').material_select();
		    $(".button-collapse").sideNav();
			// $('input.autocomplete').autocomplete({
			//     data: {
			//       "African": null,
			//       "American": null,
			//       "Armenian": null,			      
			//       "Asian": null,
			//       "Bagels/Pretzels": null,
			//       "Bakery": null,
			//       "Café/Coffee/Tea": null,
			//       "Caribbean": null,
			//       "Chicken": null,
			//       "Chinese": null,
			//       "Chinese/Japanese": null,
			//       "Delicatessen": null,			    	
			//       "Donuts": null,
			//       "Eastern European": null,
			//       "Ethiopian": null,
			//       "Filipino": null,
			//       "Fruits/Vegetables": null,
			//       "German": null,
			//       "Greek": null,
			//       "Hamburgers": null,
			//       "Ice Cream, Gelato, Yogurt, Ices": null,
			//       "Indian": null,
			//       "Italian": null,
			//       "Japanese": null,
			//       "Jewish/Kosher": null,
			//       "Korean": null,
			//       "Latin (Cuban, Dominican, Puerto Rican, South & Central American)": null,
			//       "Mediterranean": null,
			//       "Mexican": null,
			//       "Other": null,
			//       "Pancakes/Waffles": null,
			//       "Peruvian": null,
			//       "Pizza": null,
			//       "Polish": null,
			//       "Russian": null,
			//       "Salads": null,
			//       "Sandwiches": null,
			//       "Sandwiches/Salads/Mixed Buffet": null,
			//       "Seafood": null,
			//       "Soul Food": null,
			//       "Spanish": null,
			//       "Tex-Mex": null,
			//       "Thai": null,
			//       "Vegetarian": null,
			//       "Vietnamese/Cambodian/Malaysia": null
			//     },
			//     limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
			//     onAutocomplete: function(val) {
			//       // Callback function when value is autcompleted.
			//     },
			//     minLength: 2, // The minimum length of the input for the autocomplete to start. Default: 1.
			//   });		    
		  });        	
    </script>
</html>